<!-- Categories Section -->
<section class="categories">
    <div class="container">
        <h3 class="text-center">Categories</h3>
        <hr class="titleLineBar">
        <div class="row">
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow" (click)="navigateCollections()">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-5_large.png?format=jpg&quality=90&v=1530129458" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 1</h5>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-5_large.png?format=jpg&quality=90&v=1530129458" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 2</h5>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-5_large.png?format=jpg&quality=90&v=1530129458" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 3</h5>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 4</h5>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 5</h5>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="mb-5 hoverShadow">
                <img class="productImage" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341" alt="">
                <mat-card-content>
                    <h5 class="text-center">Category 6</h5>
                </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
