<footer>
    <h3 class="text-center">Contact Us</h3>
    <hr class="titleLineBar">
    <div class="footerContent">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <mat-card>
              <img src="https://i.stack.imgur.com/WGR4z.png" alt="">
            </mat-card>
          </div>
          <div class="col-md-6">
            <p>Contact Number: +63 915 903 5299</p>
            <p>Email Address: iamcodez1@gmail.com</p>
            <p>Address: Loreim ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <hr>
            <h3>Follow us on:</h3>
            <div class="container">
              <a href="#"><img class="socialIcon" src="../assets/facebook (1).svg" alt=""></a>
              <a href="#"><img class="socialIcon" src="../assets/instagram.svg" alt=""></a>
              <a href="#"><img class="socialIcon" src="../assets/twitter.svg" alt=""></a>
              <a href="#"><img class="socialIcon" src="../assets/pinterest.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>