/* Global Styling */
    .titleLineBar {
        border: 2px solid #6DE0F6;
        width: 50px;
    }
    .seeMoreBtn {
        margin: 0 auto;
        display: block;
    }
    .hoverShadow:hover, .mat-raised-button:hover {
        box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    }
    .hoverShadow {
        cursor: pointer;
    }
    .mat-button, .mat-raised-button {
        outline: none;
    }
    /* BUTTON STYLES */
        .primary-btn-shadow {
            background-color: #D0098D;
            border-radius: 25px;
            box-shadow: rgba(208, 9, 141, 0.36) 0px 5px 25px 5px;
        }
        .primary-btn-shadow:hover {
            background-color: #d654ab !important;
            box-shadow: rgba(208, 9, 141, 0.36) 0px 5px 25px 5px;
        }
        .primary-btn {
            background-color: #D0098D;
            border-radius: 25px;
            padding: 5px 15px;
        }
        .primary-btn span {
            padding: 20px;
        }
        .primary-btn:hover {
            background-color: #d654ab !important;
        }
    .section-title {
        color: #190B48;
    }

/* Banner Section */

    .banner {
        background: linear-gradient(to right, #190B48, #280F7D);
    }
    .carousel-inner .carousel-item .container {
        padding-top: 6rem;
    }
    .hero-caption {
        padding: 6rem 0 6rem 6rem;
    }
    .hero-caption-title {
        color: #6DE0F6;
    }
    .white-highlight {
        color: #fff;
    }
    .hero-caption-title {
        font-weight: 400;
        font-size: 4rem;
        margin-bottom: 2rem;
        line-height: 1.2;
        text-align: left !important;
        letter-spacing: -.02em;
    }
    .hero-caption .mat-raised-button {
        padding: .3rem 1.8rem;
    }

/* Hot collections section */

    .hotCollections .container {
        margin: 30px auto;
    }

    .productImage {
        width: 100%;
    }

    .product-price {
        color: #828282;
    }

    .hotCollections .container .row {
        margin-top: 50px;
    }

/* Categories Section */

    .categories .container {
        margin: 30px auto;
    }

    .categories .container .row {
        margin-top: 50px;
    }

/* Testimonials Section */

    .testimonials .jumbotron {
        height: 300px;
    }


/* MEDIA ONLY SCREEN SECTION */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        /* Banner Section */
            .carousel-inner .carousel-item .container {
                padding-top: 2rem;
                max-height: 400px;
            }
            .hero-caption {
                display: none;
            }
            
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .example {background: green;}
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .example {background: blue;}
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .example {background: orange;}
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .example {background: pink;}
    }

