/* Global styling */
    .hoverShadow:hover, .mat-raised-button:hover {
        box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    }
    .hoverShadow {
        cursor: pointer;
    }
    .mat-button, .mat-raised-button {
        outline: none;
    }
    .productImage {
        /* width: 100%; */
        max-height: 200px;
    }
    mat-spinner {
        margin: 0 auto;
    }

/* Product section */
    .product-name {
        font-size: 1.2rem;
        color: #190B48;
    }
    .product-details {
        color: #828282;
    }
    .product-price {
        color: #FF5D5D;
        font-weight: 500;
    }

    .productImage:empty {
        /* background-color: #cccccc; */
        background: linear-gradient(to right, #190B48, #280F7D);
        height: 200px;
    }

/* MEDIA ONLY SCREEN SECTION */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .col-md-10 h1 {
            margin-top: 2rem;
            text-align: center;
            font-size: 2rem;
        }
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .example {background: green;}
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .example {background: blue;}
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .example {background: orange;}
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .example {background: pink;}
    }
