<!-- NEW PRODUCT FORM SECTION -->
    <section class="container">
        <mat-card>
            <form [formGroup]="productForm" enctype="multipart/form-data">

                <h1 class="text-center">Upload New Product</h1>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input formControlName="productName" cdkFocusInitial matInput placeholder="Enter product name...*">
                            <mat-error>Product Name is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <mat-form-field>
                            <input formControlName="srp" matInput placeholder="Enter product SRP...*">
                            <mat-error>Product SRP is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <mat-form-field>
                            <input formControlName="discountedPrice" matInput placeholder="Enter product discounted price...*">
                            <mat-error></mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea formControlName="desc" cols="30" rows="10" matInput placeholder="Enter product descriptions"></textarea>
                            <mat-error>Description is required</mat-error>
                        </mat-form-field>
                        <pre></pre>
                    </div>

                    <div class="col-md-12">
                        <input formControlName="image" id="imageInputFile" #imageInputFile type="file" (change)="onFileSelected($event.target.files[0])">
                    </div>
                    
                    <div class="col-md-12">
                        <mat-form-field id="inputBtn">
                            <input type="text" disabled matInput [value]="imageFileName" >
                            <mat-error>Image required</mat-error>
                            <button type="button" mat-icon-button mat-button matSuffix (click)="imageInputFile.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 mt-3">
                        <button type="submit" mat-raised-button class="primary-btn-shadow" [disabled]="productForm.invalid" (click)="onSubmit(); productForm.reset()">Submit</button>
                    </div>
                </div>
            </form>
        </mat-card> 
    </section>
<!-- PRODUCT INVENTORY SECTION -->
    <section class="container">
        <app-inventory></app-inventory>
    </section>